.post{
  display: flex;
  justify-content: center;
  padding: 100px;
  position: relative;
  background-color: dimgrey;
}

button{
  height: 75px;
  width: 75px;
  background: #474747;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 50%;
  color: white;
}

