<mat-card class="example-card">
  <div class="title">
    <h2>{{cardTitle}}</h2>
  </div>
  <form class="example-form" [formGroup]="userLoginData" (ngSubmit)="logIn()" >
    <div>
      <h3>{{emailTitle}}</h3>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
    </mat-form-field>
    <div>
      <h3>{{passTitle}}</h3>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button class="example-full-width">{{btnTitle}}</button>
  </form>
</mat-card>
